<div class="bg-image p-5" style="background-image: url('https://images.unsplash.com/photo-1518251030019-42bb0ce5f409?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80'); height: 100vh; background-size: cover;">

  <h1 class="d-flex justify-content-center">Log in</h1>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs pb-3">
        <%= f.input :nickname,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "nickname" }%>
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" }%>
      <%= f.input :password,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :boolean_company, label: 'Estabelecimento?',
                  required: true, collection: [["Sim", true], ["Não", false]], prompt: 'Selecione uma opção' %>
    </div>

    <div class="form-actions pb-4">
      <%= f.button :submit, "Sign up" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>

</div>
