<div class="bg-image" style="background-image: url('https://images.unsplash.com/photo-1518251030019-42bb0ce5f409?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80'); background-size: cover;">
  <h1 class="d-flex justify-content-center p-3">Cadastre-se</h1>
  <div class="container">
    <%= simple_form_for musician do |f| %>
      <%= f.input :first_name, label: 'Nome', required: true %>
      <%= f.input :last_name, label: 'Sobrenome', required: true %>
      <%= f.input :address, label: 'Endereço' %>
      <%= f.label :category, 'Gêneros Musiciais: ' %>
      <%= f.select :category,  Event::CATEGORIES, {include_blank: false}, { multiple: true, data: {controller: "slim-select"}}%>
      <%= f.input :birth_date, as: :date, label: 'Data de nascimento', required: true, html5: true %>
      <%= f.input :description, label: 'Breve descrição', required: true %>
      <%= f.input :phone, label: 'Nº Celular', required: true %>
      <%= f.input :photo, as: :file %>
      <%= f.submit class: "btn my-4" %>
    <% end %>
  </div>
</div>


