<div class="row">
  <div class="col-sm-4">
    <div class="card-musician align-items-center" >
      <% if @musician.photo.attached? %>
        <%= cl_image_tag @musician.photo.key, id: 'place-image'%>
      <% else %>
          <%= image_tag("placeholder-image.jpg", id: 'place-image') %>
      <% end %>
      <div class="text-card">
        <h1><strong><%= @musician.user.nickname%></h1></strong>
        <p><strong>Endereço:</strong> <%=@musician.address%></p>
        <p><strong>Contato:</strong> <%= @musician.phone%></p>
        <p><strong>Gêneros musicias:</strong> <%= @musician.category%></p>
        <p><strong>Descrição:</strong> <span class='pop-card' data-controller="popover" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="right" title="Descrição" data-bs-content="<%= @musician.description%>"><%= @musician.description.truncate(200)%></span></p>
      </div>
      <div class="redes-sociais-links">
        <ul>
          <li><%= link_to @musician.facebook_url do %>
              <i class="fa-brands fa-facebook"></i>
            <% end %>
          </li>
          <li><%= link_to @musician.instagram_url do %>
              <i class="fa-brands fa-instagram"></i>
            <% end %>
          </li>
          <li><%= link_to @musician.spotify_url do %>
             <i class="fa-brands fa-spotify"></i>
            <% end %>
          </li>
            <li><%= link_to @musician.youtube_url do %>
             <i class="fa-brands fa-youtube"></i>
            <% end %>
          </li>
          <li><%= link_to @musician.soundcloud_url do %>
             <i class="fa-brands fa-soundcloud"></i>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
    <div class='musician-video-show col-sm-8'>
      <iframe id='video' src=<%= "http://www.youtube.com/embed/#{@musician.youtube_id}" %>></iframe>
    </div>
</div>
