<%= turbo_stream_from current_user %>
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon navbar-novo">
  <div class="container-fluid">
    <div class="d-flex align-items-center gap-5 text-white px-3">
      <%= link_to root_path, class: "navbar-brand text-white" do %>
        <i class="fa-solid fa-music" ></i>
        <strong>Music</strong>Booking
        <%= link_to "Sobre nos", root_path, class: "nav-link", id:"change-color-rover" %>
        <%= link_to "Eventos", events_path, class: "nav-link", id:"change-color-rover" %>
      <% end %>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto gap-3">
        <% if user_signed_in? && (current_user.company || current_user.musician) %>
          <div id="pushes">
            <%= link_to proposals_path, style: "text-decoration: none;"  do %>
              <i class="fa-regular fa-bell text-white"></i>
              <%= current_user.pushes.count %>
            <% end %>
          </div>
          <li class="nav-item dropdown">
          <% if current_user.musician && current_user.musician.photo.attached? %>
            <%= cl_image_tag(current_user.musician.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false )%>
          <% elsif current_user.company && current_user.company.photo.attached?%>
            <%= cl_image_tag(current_user.company.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false )%>
          <% else %>
            <%= icon('fa-solid', 'user-secret', class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false) %>
          <% end %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Perfil", current_user.company ? profile_company_path : profile_musician_path, class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link text-white" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
