<div class="container">
<h1>Novo Evento</h1>
  <%= simple_form_for [company, event] do |f|%>
  <%= f.input :title_event %>
  <%= f.input :description_event %>
  <%= f.input :start_time, as: :string, placeholder: 'Inicio', input_html: {data: { controller: "flatpickr", readonly: true }} %>
  <%= f.input :end_time, as: :string, placeholder: 'Fim', input_html: {data: { controller: "flatpickr", readonly: true}} %>
  <%= f.input :price %>
  <%= f.submit %>
  <% end %>
</div>
