<div id="event-index">
  <h2 style = "color:#89D2DC" >Eventos com vagas para músicos!</h2>
</div>
<div class="main-container">
  <%= form_with url: events_path, method: :get,
    html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}} do |f| %>
    <%= f.text_field :query,
      class: "form-control",
      placeholder: "Digite o nome do estabelecimento"
    %>
    <%= f.select :price, options_for_select(
      (200..1100).step(100).map { |p| p <= 1000 ? ["Até $#{p}", p] : ["$#{p} Mais", p]  }), prompt: 'Valor' %>

    <%= f.text_field :start_time, class: 'flatpickr',
            data: { controller: "flatpickr", flatpickr_time_value: false  }, placeholder: 'Dia' %>

    <%= f.text_field :address, data: {address_autocomplete_target: "address"}, class: 'd-none' %>

    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>


  <div class="row">
    <div class='col-sm-8'>
      <% @events.each do |event| %>
        <div class="card-product">
          <div class="row">
              <div class="card-product-infos ml-2">
                <h4 ><%= link_to "#{event.company.title}", event_path(event),  class: "border-radius:10px;"%></h4>
                <p>Data: <%= event.start_time.strftime("%d/%m/%y") %></p>
                <p>Evento: <%= event.title_event %></p>
                <p>Address: <%= event.company.address %></p>
                <p>Price: <%= event.price %></p>
              </div>

              <div>
                <%= render 'proposals/form', event: event %>
              </div>
            </div>
        </div>
      <% end %>
      <p class=<%='d-none' if @events.any?%>>Nenhum resultado encontrado</p>
    </div>

      <div id='map'
          data-controller='map'
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY']%>"
          data-map-markers-value="<%= @markers.to_json %>" class='col-sm-3'>
      </div>
  </div>
</div>
