<h1>Events index</h1>
<div class="main-container">
  <%= form_with url: events_path, method: :get, class: "d-flex",
    html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}} do |f| %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
    <%= f.text_field :query,
      class: "form-control",
      placeholder: "Digite o nome do estabelecimento"
    %>
    <%= f.select :price, options_for_select(
      (200..1100).step(100).map { |p| p <= 1000 ? ["Até $#{p}", p] : ["$#{p} Mais", p]  }), prompt: 'Valor' %>

    <%= f.text_field :address, data: {address_autocomplete_target: "address"}, class: 'd-none' %>
  <% end %>


  <div class="row">
    <div class='col-sm-6'>
      <% @events.each do |event| %>
              <h4><%= link_to "#{event.company.title}", event_path(event) %></h4>
              <p>Data: <%= event.start_date.strftime("%d/%m/%y") %></p>
              <p>Evento: <%= event.title_event %></p>
              <p>Address: <%= event.company.address %></p>
              <p>Price: <%= event.price %></p>
              <%= render 'proposals/form', event: event %>
      <% end %>
    </div>

    <div id='map'
        data-controller='map'
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY']%>"
        data-map-markers-value="<%= @markers.to_json %>" class='col-sm-6'>
    </div>
  </div>
</div>
