<div class="bg-image pt-3", style="background: rgb(75,85,141);
background: linear-gradient(93deg, rgba(75,85,141,0.6) 0%, rgba(65,17,89,1) 100%);">

  <div id="event-index" class="mx-4">
    <div id="event-index" class="mx-4 d-flex justify-content-center align-items-center">
      <h1 class="py-4" style = "color:#ffffff" >Eventos com vagas para músicos</h1>
    </div>
      <h5 class="pb-1" style = "color:#ffffff" >Encontre eventos para músicos e artistas em São Paulo</h5>
  <div class="main-container">
      <%= form_with url: events_path, method: :get, html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}} do |f| %>
        <%= f.text_field :query, class: "form-control mb-4", placeholder: "Busque por: Estabelecimento, evento ou gênero musical" %>
        <div class="form-group mb-3">
          <%= f.select :price, options_for_select( (200..1100).step(100).map { |p| p <= 1000 ? ["Até $#{p}", p] : ["1000 Mais", p]  }), prompt: 'Valor' %>
        </div>
        <div class="form-group mb-3">
          <%= f.text_field :start_time, class: 'flatpickr',
                        data: { controller: "flatpickr", flatpickr_time_value: false  }, placeholder: 'Selecione a data' %>
        </div>

        <%= f.submit "Procurar", class: "btn p-2" %>
        <%= link_to "Limpar", events_path,  class: "btn p-2" %>
        <p class="pt-4" style = "color:#ffffff" >Ou busque por local</p>
        <%= f.text_field :address, data: {address_autocomplete_target: "address"}, class: 'd-none' %>
      <% end %>

    <div class="d-flex pt-4">
      <div class='d-flex flex-wrap'>
        <% @events.each do |event| %>
          <div id="<%=event.id%>" class='col-sm-12 col-md-8 col-lg-6 col-xl-6 col-xxl-4'>
            <div class="card" style="width: 300px; height: 450px">
              <div class="card-body mt-2" style="text-align: center;" id="<%=event.id%>">
                <h4><%= link_to "#{event.company.title}", event_path(event), style: "color: white;" %></h4>
                <p style="margin-top: 20px;">Data: <%= event.start_time.strftime("%d/%m/%y") %></p>
                <% if event.category_event.present? %>
                  <p>Gênero: <%= event.category_event %></p>
                <% else %>
                  <p>Gênero: Não informado</p>
                <% end %>
                <p>Evento: <%= event.title_event %></p>
                <p>Address: <%= event.company.address %></p>
                <p>Cachê: <%= event.price %></p>
                <div class="submit-proposal">
                  <%= render 'proposals/form', event: event %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <p class=<%='d-none' if @events.any?%>>Nenhum resultado encontrado</p>
      </div>
      <div id='map' data-controller='map' data-map-api-key-value="<%= ENV['MAPBOX_API_KEY']%>" data-map-markers-value="<%= @markers.to_json %>" class='col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-3'></div>

    </div>
  </div>
</div>



    <%= link_to "Cadastre-se", new_user_registration_path,  class: "btn" unless user_signed_in? %>
