
<%= render 'banner_event' %>

  <div class="row">
        <div class="col-sm-8">
          <div class="card m-5 p-5">
            <div class= "d-flex justify-content-evenly">
              <div>
                <h1 class="text-align:center;"> <%= "#{@event.title_event}"%></h1>
              </div>
              <div>
                <%= link_to(company_path(@event.company)) do %>
                  <%= render 'photo_company' %>
                <% end %>
              </div>
            </div>
            <p><i class="fa-regular fa-comment"></i> <%= @event.description_event %></p>
            <p><i class="fa-regular fa-building"></i> <%= @event.company.title %></p>
            <p><i class="fa-regular fa-map"></i>  <%= @event.company.address %></p>
            <i class="fa-regular fa-calendar"></i>
            <div>
              <%="Início: #{@event.start_time.day}/#{@event.start_time.month}/#{@event.start_time.year} às #{@event.start_time.hour}hr #{@event.start_time.min}min"%><br>
              <%="Fim: #{@event.end_time.day}/#{@event.end_time.month}/#{@event.end_time.year} às #{@event.end_time.hour}hr #{@event.end_time.min}min"%>
              <p><%="Duração - #{@event.end_time.day - @event.start_time.day} dias" if @event.end_time.day - @event.start_time.day > 0 %>
                 <%="Duração - #{@event.end_time.hour - @event.start_time.hour} horas" if @event.end_time.hour - @event.start_time.hour > 0 %></p>
            </div>
            <p><i class="fa-regular fa-money-bill-1"></i><%=" R$ #{@event.price}" %>
            <div class="submit-proposal">
                <%= render 'proposals/form', event: @event %>
            </div>
          </div>
        </div>

        <div class='col-sm-4'>
          <div class = "m-5 p-1">
            <div id='map' class="<%= 'd-none' if current_user.boolean_company? %>"
                data-controller='map'
                data-map-api-key-value="<%= ENV['MAPBOX_API_KEY']%>"
                data-map-markers-value="<%= @markers.to_json %>">
            </div>
          </div>
        </div>


  </div>

      <%# Latitude: <%= @event.company.latitude %>
      <%# Longitude: <%= @event.company.longitude %>


      <%# oculta o link edit se o usuario nao for o user da company %>
