<div class="container text-center mt-5">
  <div id="carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
          <button type="button" data-bs-target="#carousel" data-bs-slide-to="5" aria-label="Slide 6"></button>
      <button type="button" data-bs-target="#carousel" data-bs-slide-to="6" aria-label="Slide 7"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag("1-img-black-white-musician.jpg", height: 600, id:"home-carosel") %>
        <div class="carousel-caption d-none d-md-block">
          <h5>Busque agora</h5>
          <p>Encontre o músico perfeito para o seu evento em nosso site de busca de músicos profissionais</p>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag("3-img-blues.jpg", height: 600, id:"home-carosel") %>
        <div class="carousel-caption d-none d-md-block">
          <h5>Mais de mil profissionais</h5>
          <p>De músicos talentosos a oportunidades de trabalho emocionantes, estamos aqui para ajudá-lo a alcançar seus objetivos musicais</p>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag("4-img-cantor-black.jpg", height: 600, id:"home-carosel") %>
        <div class="carousel-caption d-none d-md-block">
          <h5>Toque em pubs, bares e eventos ao vivo</h5>
          <p>Procurando trabalho como músico? Encontre oportunidades em nosso site</p>
        </div>
      </div>
          <div class="carousel-item">
        <%= image_tag("5-img-pub-music.jpg", height: 600, id:"home-carosel") %>
        <div class="carousel-caption d-none d-md-block">
          <h5>Conquiste seus clientes</h5>
          <p>Garanta uma apresentação musical de sucesso com nossos músicos talentosos</p>
        </div>
      </div>
          <div class="carousel-item">
        <%= image_tag("6-img-show.jpg", height: 600, id:"home-carosel") %>
        <div class="carousel-caption d-none d-md-block">
          <h5>Aproveite</h5>
          <p>Contrate músicos sem sair de casa, de forma fácil, rápida e segura</p>
        </div>
      </div>
          <div class="carousel-item">
        <%= image_tag("7-pub-drum.jpg", height: 600, id:"home-carosel") %>
        <div class="carousel-caption d-none d-md-block">
          <h5>Acesse agora mesmo</h5>
          <p>Se você é um músico talentoso procurando novas oportunidades de trabalho, esse é o lugar certo para você</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
