<div row>
  <div class="container text-left">
    <div class="row align-items-center">
      <div class="col-6">
        <h1 id="redes-sociais"><strong><%= @musician.nickname%></h1></strong>
        <p><strong>Gêneros musicias:</strong> <%=@musician.category%></p>
        <p><strong>Descrição:</strong> <%= @musician.description%></p>
        <p><strong>Contato:</strong> <%= @musician.phone%></p>
        <p><strong>Endereço:</strong> <%= @musician.address%></p>
        <% if current_user.musician.photo.attached? %>
          <%= cl_image_tag current_user.musician.photo.key, height: 300, width: 400, crop: :fill %>
        <% else %>
          <div id="redes-sociais">
            <%= image_tag("musician.jpg", height: 300) %>
          </div>
        <% end %>
      </div>
      <div class="col-6">
        <video id="redes-sociais" width="640" height="360" controls class="teste">
          <source src="https://www.youtube.com/watch?v=bPviMA2L6_M" type="video/mp4">
          Seu navegador não suporta a tag de vídeo.
        </video>
        <div id="redes-sociais-links">
          <h4><strong>Redes Sociais</strong></h4>
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-spotify"></i>
          <i class="fa-brands fa-youtube"></i>
          <i class="fa-brands fa-soundcloud"></i>
        <div>
      </div>
    </div>
  </div>
</div>


<div row>
  <div class="container text-center mt-5 p-5">
    <div class="row align-items-center">
      <div class="col">
        <h2>Proposals</h2>
        <% @musician_proposals.each do |proposal| %>
          <div class="container text-center">
            <div class="row align-items-center">
                <div class="col">
                  <div class="card-product">
                    <div class="card-product-infos">
                      <h5><%= link_to "#{proposal.event.title_event}", event_path(proposal.event) %></h5>
                      <p><strong>Endereço: </strong><%= proposal.event.company.address %></p>
                      <p><strong>Empresa:</strong> <%= proposal.event.company.title %></p>
                    </div>
                    <div class="col">
                      <p><strong>Data:</strong> <%= proposal.event.start_date.strftime("%d/%m/%y") %></p>
                      <p><strong>Horário do evento:</strong> <%= proposal.event.start_time.strftime("%H:%M") %> às <%= proposal.event.end_time.strftime("%H:%M") %></p>
                    </div>
                    <div class="col">
                      <%= link_to 'Editar proposta', edit_musician_path(@musician), class:'btn btn-warning'%>
                      <%= link_to 'Proposta em Andamento', "#", class:'btn btn-dark'%>
                    </div>
                  <div>
                </div>
              </div>
          </div>
        <% end %>
      <div>
    </div>
  </div>
</div>

<%= link_to 'Inicio', root_path, class:'btn btn-primary'%>
