
   <h2>Musician Profile</h2>
<div class="card-product">
  <div class="card-product-infos">
    <p><%= @musician.nickname%></p>
    <p>Gêneros musicias: <%=@musician.category%></p>
    <p>Descrição: <%= @musician.description%></p>
    <p>Contato: <%= @musician.phone%></p>
    <p>Endereço: <%= @musician.address%></p>
  </div>
</div>

    <h2>Proposals</h2>
    <% @musician_proposals.each do |proposal| %>
<div class="card-product">
  <div class="card-product-infos">
      <p>musician: <%= proposal.musician.first_name %></p>
      <p>event:<%= proposal.event.title_event %></p>
      <p>winner_:<%= proposal.winner %></p>
      <p>company: <%= proposal.event.company.title %></p>
      </div>
</div>
    <% end %>



<%= link_to 'Inicio', root_path, class:'btn btn-primary'%>
<%= link_to 'edit', edit_musician_path(@musician), class:'btn btn-primary'%>
