<h1>Profile</h1>
<h3>Nome da empresa: <%=@company.title%></h3>
<p>Gêneros musicias: <%=@company.category%></p>
<p>Descrição: <%= @company.description%></p>
<p>Endereço: <%= @company.address%></p>
<% if current_user.company.photo.attached? %>
  <%= cl_image_tag(current_user.company.photo.key, height: 200, crop: :fill)%>
<% else %>
  <%= image_tag("company.jpg", height: 200) %>
<% end %>

<h3>Seus eventos</h3>
<% @company.events.each do |event| %>
        <h4><%= link_to "#{event.title_event}", event_path(event) %></h4>
        <p>Data: <%= event.start_time.strftime("%d/%m/%y") %></p>
        <p>Dono do evento: <%= event.company.title %></p>
        <p>Address: <%= event.company.address %></p>
<% end %>


<%= link_to 'Inicio', root_path, class:'btn btn-primary'%>
<%= link_to 'Editar usuário', edit_company_path(@company), class:'btn btn-primary'%>
<%= link_to 'Deletar conta', user_registration_path, class:'btn btn-primary',  data: { turbo_confirm: "Tem certeza que deseja excluir sua conta?", turbo_method: :delete }  %>
