<div class="row">
  <div class="col-sm-4">
    <div class="card-musician align-items-center" >
      <% if current_user.musician.photo.attached? %>
        <%= cl_image_tag current_user.musician.photo.key, id: 'place-image'%>
      <% else %>
          <%= image_tag("placeholder-image.jpg", id: 'place-image') %>
      <% end %>
      <div class="text-card">
        <h1><strong><%= @musician.user.nickname%></h1></strong>
        <p><strong>Endereço:</strong> <%=@musician.address%></p>
        <p><strong>Contato:</strong> <%= @musician.phone%></p>
        <p><strong>Gêneros musicias:</strong> <%= @musician.category%></p>
        <p><strong>Descrição:</strong> <span class='pop-card' data-controller="popover" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="right" title="Descrição" data-bs-content="<%= @musician.description%>"><%= @musician.description.truncate(200)%></span></p>
      </div>
      <div class="redes-sociais-links">
        <ul>
          <li><i class="fa-brands fa-facebook"></i></li>
          <li><%= link_to @musician.instagram_url do %>
              <i class="fa-brands fa-instagram"></i>
            <% end %>
          </li>
          <li><i class="fa-brands fa-spotify"></i></li>
          <li><i class="fa-brands fa-youtube"></i></li>
          <li><i class="fa-brands fa-soundcloud"></i></li>
        </ul>
      </div>
      <div class='musician-video'>
        <iframe id='video' src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
      </div>
      <div class='buttons'>
        <%= link_to 'Editar usuário', edit_musician_path(@musician), class:'btn'%>
        <%= link_to 'Deletar conta', user_registration_path, class:'btn',  data: { turbo_confirm: "Tem certeza que deseja excluir sua conta?", turbo_method: :delete }  %>
      </div>
    </div>
  </div>
  <div class='col-sm-8 col-md-6 col-lg-8 col-xl-8 col-xxl-6'>
    <div class='events-cards'>
      <% if @pending_proposals.blank? %>
        <div class="title-events">
          <h2 class="title-color">Propostas Pendentes</h2>
          <%= "Você ainda não possui propostas, canditate-se já!"%>
        </div>
      <% end %>
      <% @pending_proposals.each do |proposal| %>
        <div class="card-musician-proposals">
          <% @push = Push.where(proposal_id: proposal.id) %>
          <div class='avatar-position'>
            <% if proposal.event.company.photo.attached?  %>
              <%= cl_image_tag(proposal.event.company.photo.key, class: "avatar-perfil")%>
              <p><strong></strong><%= proposal.event.company.user.nickname%></strong></p>
            <% else %>
              <%= image_tag("new-avatar.jpg", class: "avatar-perfil") %>
              <p><strong><%= proposal.event.company.user.nickname%></strong></p>
            <% end %>
            <% if @push.any? %>
              <i class="fa-solid fa-envelope"></i>
            <% end %>
          </div>
          <div class="card-proposals-infos">
            <h2><%= link_to "#{proposal.event.title_event}", event_path(proposal.event) %></h2>
            <p><strong>Empresa: </strong> <%= proposal.event.company.title %></p>
            <p><strong>Gêneros: </strong> <%= proposal.event.category_event %></p>
            <p><strong>Endereço: </strong> <%= proposal.event.company.address %></p>
            <p><strong>Data: </strong> <%= proposal.event.start_time.strftime("%d/%m/%y") %></p>
            <p><strong>Inicio: </strong> <%= proposal.event.start_time.strftime("%H:%M") %></p>
            <p><strong>Fim: </strong> <%= proposal.event.start_time.strftime("%H:%M") %></p>
            <p><strong>Cachê: </strong> <%= proposal.event.price %></p>
          </div>
          <div class="buttons">
            <%= link_to "Abrir ChatRoom", proposal_path(id: proposal), class: "btn" %>
            <%= link_to "Cancelar minha proposta", cancel_proposal_path(id: proposal), class: "btn" if current_user.musician %>
          </div>
        </div>
      <% end %>
      </div>
    </div>
</div>

<div class="container-proposals">
  <div class='title'>
    <h2 class="title-color">Propostas Aceitas</h2>
    <%= "Sem propostas Aceitas :)" if @accepted_proposals.blank?  %>
  </div>
  <div class="container-aceitas">
    <% @accepted_proposals.each do |proposal| %>
      <div class="card-proposals">
        <% @push = Push.where(proposal_id: proposal.id) %>
        <div class='avatar-position'>
          <% if proposal.event.company.photo.attached?  %>
            <%= cl_image_tag(proposal.event.company.photo.key, class: "avatar-perfil")%>
            <p><strong></strong><%= proposal.event.company.user.nickname%></strong></p>
          <% else %>
            <%= image_tag("new-avatar.jpg", class: "avatar-perfil") %>
            <p><strong><%= proposal.event.company.user.nickname%></strong></p>
          <% end %>
          <% if @push.any? %>
            <i class="fa-solid fa-envelope"></i>
          <% end %>
        </div>
        <div class="card-proposals-infos">
          <h2><%= link_to "#{proposal.event.title_event}", event_path(proposal.event) %></h2>
          <p><strong>Empresa: </strong> <%= proposal.event.company.title %></p>
          <p><strong>Gêneros: </strong> <%= proposal.event.category_event %></p>
          <p><strong>Endereço: </strong> <%= proposal.event.company.address %></p>
          <p><strong>Data: </strong> <%= proposal.event.start_time.strftime("%d/%m/%y") %></p>
          <p><strong>Inicio: </strong> <%= proposal.event.start_time.strftime("%H:%M") %></p>
          <p><strong>Fim: </strong> <%= proposal.event.start_time.strftime("%H:%M") %></p>
          <p><strong>Cachê: </strong> <%= proposal.event.price %></p>
        </div>
        <div class="proposals-buttons-container">
          <div class='proposals-buttons'>
            <%= link_to "Abrir ChatRoom", proposal_path(id: proposal), class: "btn" %>
            <%= link_to "Cancelar minha proposta", cancel_proposal_path(id: proposal), class: "btn" if current_user.musician %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class='title'>
    <h2 class="title-color">Propostas Recusadas</h2>
    <%= "Sem propostas recusadas :)" if @refused_proposals.blank?  %>
  </div>
  <div class="container-recusadas">
    <% @refused_proposals.each do |proposal| %>
      <div class="card-proposals">
        <% @push = Push.where(proposal_id: proposal.id) %>
        <div class='avatar-position'>
          <% if proposal.event.company.photo.attached?  %>
            <%= cl_image_tag(proposal.event.company.photo.key, class: "avatar-perfil")%>
            <p><strong></strong><%= proposal.event.company.user.nickname%></strong></p>
          <% else %>
            <%= image_tag("new-avatar.jpg", class: "avatar-perfil") %>
            <p><strong><%= proposal.event.company.user.nickname%></strong></p>
          <% end %>
          <% if @push.any? %>
            <i class="fa-solid fa-envelope"></i>
          <% end %>
        </div>
        <div class="card-proposals-infos">
          <h2><%= link_to "#{proposal.event.title_event}", event_path(proposal.event) %></h2>
          <p><strong>Empresa: </strong> <%= proposal.event.company.title %></p>
          <p><strong>Gêneros: </strong> <%= proposal.event.category_event %></p>
          <p><strong>Endereço: </strong> <%= proposal.event.company.address %></p>
          <p><strong>Data: </strong> <%= proposal.event.start_time.strftime("%d/%m/%y") %></p>
          <p><strong>Inicio: </strong> <%= proposal.event.start_time.strftime("%H:%M") %></p>
          <p><strong>Fim: </strong> <%= proposal.event.start_time.strftime("%H:%M") %></p>
          <p><strong>Cachê: </strong> <%= proposal.event.price %></p>
        </div>
        <div class="proposals-buttons-container">
          <div class='proposals-buttons'>
            <%= link_to "Abrir ChatRoom", proposal_path(id: proposal), class: "btn" %>
            <%= link_to "Cancelar minha proposta", cancel_proposal_path(id: proposal), class: "btn button-disabled" if current_user.musician %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
