<div class="bg-image p-5" style="background-image: url('https://images.unsplash.com/photo-1518251030019-42bb0ce5f409?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80'); height: 100vh; background-size: cover;">
  <div class="container">
    <h1 class="d-flex justify-content-center p-5"><strong>Entrar</strong></h1>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }) do |f| %>
      <div class="form-inputs">
        <%= f.input :email,
                    label: "E-mail",
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                    label: "Senha",
                    required: false,
                    input_html: { autocomplete: "current-password" } %>
        <%= f.input :remember_me, label: "Lembrar senha",  as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions py-4">
        <%= f.button :submit, "Entrar", class: "btn" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
