<% if @proposals.blank? %>
  <%= "YOU HAVE NO PROPOSALS" %>
<% end %>
    <h2>Proposals</h2>
    <% @proposals.each do |proposal| %>
      <p>musician: <%= proposal.musician.first_name %></p>
      <p>event:<%= proposal.event.title_event %></p>
      <p>winner_:<%= proposal.winner %></p>
      <p>company: <%= proposal.event.company.title %></p>
    <% end %>
