<!DOCTYPE html>
<html>
  <head>
    <title>MusicBooking</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.css' rel='stylesheet' />
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <%= javascript_include_tag 'scroll' %>
  </head>

  <body id='background'>
      <%= render "shared/navbar" %>
      <%= render "shared/flashes" %>
      <div id="min-alt" class="margin-navbar">
        <%= yield %>
      </div>
      <%= render 'shared/footer'%>
  </body>
</html>
